[Unit]
Description=Samba SMB Daemon
After=syslog.target network.target nmb.service winbind.service

[Service]
PIDFile=/var/run/smbd.pid
LimitNOFILE=16384
ExecStart=@SBINDIR@/smbd -F
ExecReload=@BASE_BINDIR@/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
